.payment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Set a minimum height to ensure the content is centered even when there's little content */
  background-color: #f0f0f0; /* Set the background color for the container, if needed */
  /* Add any additional styles for the container as needed */
}

.FormGroup {
  margin: 0 15px 20px;
  width: 500px;
  padding: 10px;
  border-style: none;
  background-color: white;
  will-change: opacity, transform;
  /* box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff; */
  border-radius: 10px;
}

.FormRow {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 10px;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

.CardElementContainer{
    width: 160px;
}

button {
  display: block;
  font-size: 26px;
  width: calc(50%);
  margin-left: 150px;
  height: 40px;
  background-color: #007bff; /* Set the background color to blue */
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #0056b3; /* Adjust the box-shadow accordingly */
  border-radius: 10px;
  color: white; /* Set the text color to white */
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
  border: none;
}

button:active {
  background-color: #0056b3; /* Set the background color to a darker blue */
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #003580; /* Adjust the box-shadow accordingly */
  transform: scale(0.99);
}

h1,
h2,
h3 {
  text-align: center;
}

